/* Reset css */
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}

a {
    text-decoration: none;}

body {
    font-family: "Inter Tight", "Roboto", sans-serif;
    background-color: white;
    color: #141414;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
}
.conteiner {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
/* HERO */
.hero {
background-color: #576f35;

}
.hero-title {
    font-weight: 600;
font-size: 76px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;

}
.hero-text {
color:#fbfbfb; 
}


/* ORDER STEP */
.order-steps-title {
    font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}
.text-accent {
    color: #d4bfc4;
}
 .order-steps-left {
    background-color:  #7a3145;
 }
 .order-steps-right {
    background-color: #576f35;
 }
 .order-steps-item {

}
.text-default {
    color:black ;
    font-weight: 700;
}
/* DISCOUNT */
.discount-title {
font-weight: 600;
font-size: 76px;
}
.discount-greenlight{
    background-color:  #3cbc81;;
}
/*VEGETABLE*/
.vegetable {
    background-color:  #7a3145;
}
.vegetable-title{
font-weight: 600;
font-size: 64px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white
}
.vegetable-text{
    color:white;
}
/*REVIEWS*/
.reviews-title{
    font-weight: 600;
font-size: 64px;
text-transform: uppercase;
}
.reviews-accent {
    color:  #576f35;
}
.reviews-name {
    font-weight: 600;
font-size: 18px;
text-transform: uppercase;
}
.reviews-text {
    line-height: 1.25;
    color: gray;
}
/*CONTACT*/

