/* Reset css */
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}

a {
    text-decoration: none;}

body {
    font-family: "Inter Tight", "Roboto", sans-serif;
    background-color: white;
    color: #141414;

}
.conteiner {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}