/* Reset css */
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}

a {
    text-decoration: none;}

body {
    font-family: "Inter Tight", "Roboto", sans-serif;
    background-color: white;
    color: #141414;

}
.conteiner {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
/* HERO */
.hero {
background-color: #576f35;

}
.hero-title {
    font-weight: 600;
font-size: 76px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;

}
.hero-text {
    font-weight: 500;
font-size: 16px;
line-height: 1.25;
color:#fbfbfb; 
}


/* ORDER STEP */
.order-steps-title {
    font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}
.highliht {
    color: #d4bfc4;
}
 .order-steps-left {
    background-color:  #7a3145;
 }
 .order-steps-right {
    background-color: #576f35;
 }
/* DISCOUNT */
.discount-title {
font-weight: 600;
font-size: 76px;
}